.app {
	text-align: center;
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 5px;
	font-size: 36pt;
}

@keyframes loading {
	0% {
		content: '';
	}
	33% {
		content: '.';
	}
	66% {
		content: '..';
	}
	100% {
		content: '...';
	}
}

.loading:after {
	content: '';
	animation: loading 1s infinite;
}

footer {
	position: relative;
	clear: both;
	float: left;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-weight: bold;
	font-size: 12pt;
	padding: 15px 0px;
}
