.app {
	text-align: center;
}

footer {
	position: relative;
	clear: both;
	float: left;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-weight: bold;
	font-size: 12pt;
	padding: 15px 0px;
}
