.bingo-board {
	width: inherit;
	min-height: 100%;
}

.date {
	margin-top: -5px;
	margin-bottom: 10px;
}

.winner {
	color: lightgreen;
	transition: ease-in-out 0.2s;
}

.bingo-board table {
	background-color: white;
	table-layout: fixed;
	width: inherit;
}
th,
td {
	border: 1px solid black;
	overflow: hidden;
	height: 65px;
}
