body,
html {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	margin: 0;
	background-color: #eee;
	background-image: url('../img/forsenE.webp');
	color: white;
}

a {
	text-decoration: none;
	color: cyan;
}

a:hover {
	text-decoration: underline;
}
